.carousel-indicators [data-bs-target],
.jhmYzC {
  top: 464px;
  left: 966px;
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
  box-shadow: none !important;
}

.carousel-indicators [data-bs-target] {
  background: white 0% 0% no-repeat padding-box !important;
}

.jhmYzC {
  background: #bdbdbd !important;
}

.carousel-indicators .active,
.krmNah,
.krmNah:hover,
.krmNah:focus {
  background: #f8475f 0% 0% no-repeat padding-box !important;
  box-shadow: none !important;
}
